/* Global styles */
:root {
	font-family: 'Geist', system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.2;
	font-weight: 400;
	font-size: 15px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	color: #000000;
	overflow: hidden;
}

a {
	color: #000000;
	text-decoration: inherit;
	transition: all 0.1s ease-in-out;
}

a:hover {
	color: #535bf2;
}

h1 {
	font-size: 20px;
	line-height: 0;
}

button {
	border-radius: 4px;
	min-width: 120px;
	border: 1px solid transparent;
	padding: 0.4em 1em;
	font-size: 12px;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: background-color 0.25s;
	background-color: #eaf0ff;
	color: #3155b9;
	text-transform: uppercase;
}

button:target,
button:focus-within,
button:active,
button:focus,
button:focus-visible,
button:focus-within,
button:hover {
	background-color: #d3deff;
}

table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #ddd;
}

select {
	min-width: 150px;
	padding: 0.5rem 0.75rem;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	outline: none;
}

input {
	padding: 0.5rem 0.75rem;
	border: 1px solid #e6e6e6;
	border-radius: 4px;
	transition: border-color 0.25s;
	outline: none;
}

input:focus,
input:hover {
	border-color: #b9b9b9;
}

/**   
Top Header
*/

.header {
	position: fixed;
	height: 60px;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	border-bottom: 1px solid #ddd;
	background-color: white;
}

.header-container {
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
	/* Add this */
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	height: 100%;
}

.nav-links {
	display: flex;
	gap: 1rem;
}

.user-info {
	margin-right: 1rem;
}

/**   
Content Below Top Header
*/


.content {
	padding-top: 60px;
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
	height: calc(100vh - 60px);
}

.content-header {
	width: 100%;
	margin: 2rem 0;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content-body {
	margin: 0 auto;
	height: calc(80vh - 60px);
	padding: 1rem 3rem;
	border: 1px solid #eeeeee;
	border-radius: 12px;
	overflow-y: auto;
}

.content-body-inside {
	display: flex;
	gap: 1rem;
	align-items: top;
	justify-content: space-between;
}

.content-actions {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	margin: 1rem 0;
}

.search-input {
	width: 250px;
}

.custom-select {

	&,
	&::picker(select) {
		appearance: base-select;
	}
}

.display-flex {
	display: flex;
	gap: 1rem;
	align-items: center;
}

.light-text {
	color: #858585;
	font-size: 14px;
}